.footer {
  background-color: $general-color;

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    fill: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 171%;
    font-weight: 500;
    &:hover {
      color: yellowgreen;
      stroke: yellowgreen;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
  }

  &__panel-list {
    display: flex;
    gap: 10px;
  }
  &__panel-item {
    margin-right: 30px;
  }
}
