.footer {
  background-color: $general-color;

  &__panel {
    display: flex;
    align-items: center;
    padding: 60px 0;
    gap: 30px;
  }

  &__panel-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__social {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
  }
}
