.screen4-apointment {
  &__title {
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    margin: 0 0 50px;
  }
}

.input-feilds {
  display: grid;
  grid-template-columns: 370px 370px;
  grid-template-rows: 40px 40px 40px;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;

  & textarea {
    grid-row: span 3;
  }
}

.checkbox {
  text-align: center;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 250%;
  color: $general-color;
}
.submit {
  text-align: center;
  margin-bottom: 60px;
}
